.topleft, .topright, .leftborder, .bottomright, .bottomleft { 
    padding: 10px; 
} 

.searchcelltop, .searchcelltopleft, .searchcelltopright, .searchcelltopleftright {
	border-top: thin solid #AAAAAA;
}

.searchcellleft, .searchcelltopleft, .searchcelltopleftright, .searchcellbottomleft, .searchcellbottomleftright{
	border-left: thin solid #AAAAAA;
}

.searchcellright, .searchcelltopright, .searchcellbottomright, .searchcelltopleftright, .searchcellbottomleftright {
	border-right: thin solid #AAAAAA;
}

.searchcellbottom, .searchcellbottomleft, .searchcellbottomright, .searchcellbottomleftright {
	border-bottom: thin solid #AAAAAA;
}
